streamlit
openai
gspread
google-auth
PyPDF2
gTTS
streamlit-mic-recorder
streamlit-pdf-viewer
fpdf
pandas
google-generativeai
groq
duckduckgo-search
httpx
easyocr
opencv-python-headless
deepgram-sdk
elevenlabs
